.basicLadder{
    width: 100%;
    height: 78vh;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container_basicLadder{
    width: 74vw;
    height: 100%;
    position: relative;
    padding: 4rem 8.5rem;
    border-bottom: 2px solid rgba(150, 112, 255, 0.281);
    border-radius: 15px;
    font-size: 2rem;
    color: white;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-image: url("../../config/src/backMatch2.jpg");
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;
}

.blur{
    width: 73.6vw;
    height: 63rem;
    position: fixed;
    top: 64%;
    left: 50%;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.noPredictionText{
    position: absolute;
    font-size: 13rem;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:  rgba(215, 173, 255, 0.082);
    -webkit-text-fill-color: rgba(0, 0, 0, 0.158);
    font-family: qatarHeavy;
    width: 100%;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);   
    position: absolute;
    line-height: 16rem;
}


@media screen and (max-width:1440px) {
    .container_basicLadder{
        width: 90vw;
        padding: 2rem 4rem;
        justify-content: center;
        gap: 3rem;
    }
}


@media screen and (max-width:1024px) {
    .container_basicLadder{
        width: 90vw;
    }
}


@media screen and (max-width:600px) {
    .container_basicLadder{
        width: 90vw;
    }
}


@media screen and (max-width:480px) {
    .container_basicLadder{
        width: 98vw;
    }
}