.basicLadder{
    width: 100%;
    height: 77vh;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_basicLadder{
    width: 74vw;
    height: 100%;
    position: relative;
    border-bottom: 2px solid rgba(150, 112, 255, 0.281);
    border-radius: 15px;
    font-size: 2rem;
    color: white;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    backdrop-filter: blur(1rem);
    box-shadow: rgba(191, 152, 255, 0.205) 3px 3px 6px 0px inset, rgba(191, 152, 255, 0.205) -3px -3px 6px 1px inset;
    background: rgb(39,25,78);
    background: radial-gradient(circle, rgb(52, 33, 102) 0%, rgba(29, 13, 48, 0.966) 60%);
    overflow: hidden;
    overflow-y: scroll;
}

.box_predictions{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    top: 0;
    left: 0;
    padding: 3rem 8.5rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}



@media screen and (max-width:1440px) {
    .container_basicLadder{
        width: 90vw;
        height: 70vh;
        justify-content: center;
        gap: 3rem;
    }
    

    .basicLadder{
        height: 76vh;
    }

}


@media screen and (max-width:1024px) {
    .container_basicLadder{
        width: 90vw;
    }
    
    .basicLadder{
        height: 75vh;
    }
}


@media screen and (max-width:600px) {
    .container_basicLadder{
        width: 90vw;
    }

    .basicLadder{
        height: 75vh;
    }
}


@media screen and (max-width:480px) {
    .container_basicLadder{
        width: 98vw;
    }


    .basicLadder{
        height: 75vh;
        top: -1rem;
    }
    
    
}