.basicLadder{
    width: 100%;
    height: 76vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_basicLadder{
    width: 72vw;
    height: 100%;
    position: relative;
    border: 2px solid rgb(198, 154, 255);
    margin-top: 1rem;
}


@media screen and (max-width:1440px) {
    .container_basicLadder{
        width: 80vw;
    }
}


@media screen and (max-width:1024px) {
    .container_basicLadder{
        width: 80vw;
    }
}


@media screen and (max-width:600px) {
    .container_basicLadder{
        width: 90vw;
    }
}