.reloj{
    list-style: none;
    display: flex;
    font-size: 1.8rem;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: .9rem;
    width: 21rem;
    text-transform: uppercase;
}

.finished_matchFeed{
    font-size: 1.9rem;
    letter-spacing: 1px;
}

.time_matchFeed{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reloj p{
    background-color: rgba(243, 243, 243, 0.171);
    padding: .3rem 1rem ;
    border-radius: 5px;
    margin:0 .2rem;
}

.reloj span{
    padding: 0 .4rem;
    letter-spacing: 1px;
    font-size: 1.3rem;
    text-transform: uppercase;
    display: flex;
}

@media screen and (max-width:1400px) {
    
    .reloj{
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    
    .reloj p{
        padding: .8rem .5rem;
    }
    
    .reloj span{
        padding: 0 .5rem;
        font-size: 1.3rem;
    }
    

}

@media screen and (max-width:480px) {
    
    .reloj{
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    
    .reloj p{
        padding: .8rem .5rem;
    }
    
    .reloj span{
        padding: 0 .5rem;
        font-size: 1.3rem;
    }
    

}


