.matchFeed{
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}


.nav_matchFeed{
    position: relative;
    width: 72vw;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 4rem;
    margin-top: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.336);
    background-color: rgba(133, 100, 177, 0.315);
    backdrop-filter: blur(1rem);
/*     overflow: hidden; */
}

.nav_matchFeed h2{
    color: white;
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* table */

.table{
    width: 72vw;
    height: 80vh;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.226);
    background-color: rgba(85, 84, 84, 0.041);
    backdrop-filter: blur(1rem);
    margin-top: 1rem;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.table_container{
    width: 72vw;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: .8rem .2rem;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.226);
    background-color: rgba(159, 85, 255, 0.205);
    backdrop-filter: blur(1rem);
    overflow: scroll;

}

.table_cabecera{
    margin-top: 0rem;
    width: 100%;
    height: 7rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.226);
    background-color: rgba(158, 85, 255, 0.281);
    border-bottom: 2px solid rgb(196, 136, 255);
    backdrop-filter: blur(1rem);
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.status_cabecera{
    margin-right: 6.6rem;
}

.table_cabecera ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    height: 7rem;
    background-color: #ffffff2d;
    backdrop-filter: blur(.8rem);
}

.table_cabecera li{
    font-size: 2rem;
    color: white;
    letter-spacing: 1px;
}

.table_games {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 99.5%;
    margin-left: .57rem;
    height: 10rem;
    background-color: #ffffff36;
    backdrop-filter: blur(.8rem);
    border-radius: 15px;
    margin-top: 1rem;
    transition: all .4s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.table_games:hover{
    box-shadow: 0 0 1rem rgba(176, 121, 248, 0.418);
    transition: all .4s ease-in-out;
}

.table_campos{
    font-size: 2rem;
    color: white;
    letter-spacing: 1px;
}

.team1_box, .team2_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    position: relative;
}

.result_team1 , .result_team2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_team1 p{
    position: absolute;
    font-size: 2.8rem;
    color: white;
}

.result_team2 p{
    position: absolute;
    font-size: 2.8rem;
    color: white;
}

.team1_flag{
    margin-left: 0rem;
}

.team2_flag{
    margin-right: -1rem;
}


.team1_flag img, .team2_flag img{
    object-fit: cover;
    width: 9rem;
    height: 5rem;
    border-radius: 15px;
    filter: contrast(115%) ;
    box-shadow: 0 0 1rem rgba(168, 130, 255, 0.541);
    border: 2px solid rgba(194, 168, 235, 0.219);
}

.startIn_text{
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    letter-spacing: 1px;
    font-size: 1.8rem;
}
.timer_match{
    position: relative;
    right: 0;
}

.game_match{
    margin-left: 3rem;
}

@media screen and (max-width:1440px) {

    .nav_matchFeed {
        width: 90vw;
    }

    .table {
        width: 90vw;
    }

    .table_container {
        width: 90vw;
    }

    .team1_flag img, .team2_flag img{
        width: 8rem;
        height: 5rem;
    }

    .game_match{
        margin-left: 1rem;
    }
}


@media screen and (max-width:1024px) {
    .status_cabecera{
        display: none;
    }
    

    .table_games {
        width: 142%;
        margin-left: .2rem;
    }


    .table_cabecera ul{
        gap: 0rem;
    }
    
    .table_cabecera li{
        font-size: 1.7rem;
        color: white;
    }

    .game_match{
        display: none;
    }

    .game_cabecera{
        display: none;
    }

    .team1_flag{
        margin-left: 2rem;
    }
    
    .team2_flag{
        margin-right: 0rem;
    }
  
    .result_team1 p{
        font-size: 2.2rem;
    }
    
    .result_team2 p{
        font-size: 2.2rem;
    }

}


@media screen and (max-width:780px) {

    .table_games {
        width: 148%;
        margin-left: .2rem;
    }

}



@media screen and (max-width:480px) {
    .team1_flag img, .team2_flag img{
        width: 6rem;
        height: 4.5rem;
    }

    .result_team1 p{
        font-size: 2.5rem;
    }
    
    .result_team2 p{
        font-size: 2.5rem;
    }

    .table_games {
        width: 170%;
        margin-left: .2rem;
    }

    .team1_flag{
        margin-left: 0rem;
    }
    
    .team2_flag{
        margin-left: 0rem;
    }
}


@media screen and (max-width:380px) {

    .table_games {
        width: 180%;
        margin-left: .2rem;
    }

}
