.staking{
    width: 100%;
    height: 83rem;
    margin-top: 1rem;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_staking{
    width: 74vw;
    height: 100%;
    position: relative;
    border-bottom: 2px solid rgba(150, 112, 255, 0.281);
    border-radius: 15px;
    font-size: 2rem;
    color: white;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    box-shadow: rgba(191, 152, 255, 0.205) 3px 3px 6px 0px inset, rgba(191, 152, 255, 0.205) -3px -3px 6px 1px inset;
    background: rgb(39,25,78);
    background: radial-gradient(circle, rgb(67, 32, 114) 0%, rgba(27, 11, 48, 0.966) 90%);
    overflow: hidden;
    overflow-y: scroll;
} 

.box_predictions_staking{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    top: 0;
    left: 0;
    padding: 2.2rem 2rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
    flex-wrap: wrap;

}

.noPredictions{
    font-size: 5rem ;
    font-family: qatar;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color:  rgba(215, 173, 255, 0.274);
    -webkit-text-fill-color: rgba(2, 1, 1, 0.096);
    font-family: qatarHeavy;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-transform: uppercase;
}
.alertNoPredictions {
    width: 70%;
    height: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.alertNoPredictions p {
    color: black;
}

@media screen and (max-width:1440px) {
    .container_staking{
        width: 90vw;
        justify-content: center;
        gap: 3rem;
    }
    

    .staking{
        height: 84vh;
    }


    .box_predictions_staking{
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 15px;
        top: 0;
        left: 0;
        padding: 3.2rem 0rem;
        font-size: 2rem;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: row;
        row-gap: 2rem;
        justify-content: center;
        flex-wrap: wrap;

    }
    .nav_staking{
        width: 90vw;
    }
}


@media screen and (max-width:1024px) {
    .container_staking{
        width: 90vw;
    }
    

}


@media screen and (max-width:600px) {
    .container_staking{
        width: 90vw;
    }

}


@media screen and (max-width:480px) {
    .container_staking{
        width: 98vw;
    }


    .staking{
        top: -1rem;

    }
    
    
}