.container_LaddersHome{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header_laddersHome{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.8rem;
    position: relative;
    padding: 1rem 2vw;
    padding-top: 1.5rem;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 72%;
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.336);
    background-color: rgba(22, 22, 22, 0.082);
    backdrop-filter: blur(1rem);
}

.header_laddersHome h2{
    font-size: 3.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.header_ladderHome_enlaces ul{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.header_ladderHome_enlaces li{
    font-size: 1.5rem;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}



/* effect navbar */

.header_ladderHome_enlaces li:after {
    content: '';
    bottom: -1rem;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: 3px;
    width: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: linear-gradient(#ead8ffda, #ab61ff);;
    -webkit-box-shadow: 0px 0px 3px rgb(0 0 0 / 60%), 0px 0px 32px #d2b6ffe0, 0px 0px 11px #caa9ffe7;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 60%), 0px 0px 32px #be95ff, 0px 0px 11px #924eff;
    -webkit-transition: all 0.3s ease-in;
    z-index: 9999999999 !important ;
    border-radius: 45px;
    opacity: .7;
    transition: all 0.3s ease ;
}
  
.header_ladderHome_enlaces li:hover:after {
    width: 100%;
    height:2px;
    filter: drop-shadow(0px -10px 8px rgba(195, 161, 250, 0.267));
}
  


/* ladders */

.boxLadder{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

@media screen and (max-width:1440px) {


    .header_laddersHome {
        width: 90%;
    }

    .header_ladderHome_enlaces li{
        font-size: 1.4rem;
    }

    .header_laddersHome h2{
        font-size: 3.7rem;
    }
    
    
    /* effect navbar */

    .header_ladderHome_enlaces li:after {
        content: '';
        bottom: -.9rem;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        height: 1px;
        width: 0;
    }
    
    .header_ladderHome_enlaces li:hover:after {
        width: 100%;
        height: 2px;
        filter: drop-shadow(0px -10px 8px rgba(195, 161, 250, 0.267));
    }
    
}

@media screen and (max-width:1024px){

    .container_LaddersHome{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
}
    


@media screen and (max-width:600px) {
    .header_ladderHome_enlaces ul{
        gap: 2.5rem;
    }

    .header_ladderHome_enlaces li{
        font-size: 1.3rem;
    }

    .header_laddersHome{
        padding: .8rem 5vw;
    }
}

@media screen and (max-width:480px) {
    .header_ladderHome_enlaces ul{
        gap:1.5rem;
    }

    .header_ladderHome_enlaces li{
        font-size: 1.34rem;
        letter-spacing: 0;
    }

    .header_laddersHome{
        padding: .8rem 5vw;
        margin-top: 2rem;
        width: 98%;

    }

    .container_basicLadder{
        margin-top: 2rem;
    }

}

@media screen and (max-width:360px) {
    .header_ladderHome_enlaces ul{
        gap:1.5rem;
    }

    .header_ladderHome_enlaces li{
        font-size: 1.1rem;
        letter-spacing: 0;
    }

 
}