.navCabecera_room{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7rem;
    padding: 2rem .5rem ;
    border: 2px solid gray;
    border-radius: 5px;
}

.cab_row{
    width: 24rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.vacio{
    width: 12rem;
}

.owner{
    width: 20rem;
    margin-left: 12rem;
}

.match_room{
    margin-left: 5rem;
}