.boostLadder{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    justify-content: center;
    margin-bottom: 1rem;

}

.container_boostLadder{
    width: 72vw;
    height: 100%;
    position: relative;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.226);
    background-color: rgba(159, 85, 255, 0.205);
    border-bottom: 2px solid rgba(150, 112, 255, 0.281);
    backdrop-filter: blur(1rem);
    font-size: 2rem;
    color: white;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: url("../../config/src/backMatch2.jpg");
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;

}



@media screen and (max-width:1440px) {
    .container_boostLadder{
        width: 90vw;
    }
}


@media screen and (max-width:1024px) {
    .container_boostLadder{
        width: 90vw;
    }
}


@media screen and (max-width:600px) {
    .container_boostLadder{
        width: 90vw;
    }
}


@media screen and (max-width:480px) {
    .container_boostLadder{
        width: 98vw;
    }
}