
.checkpoints{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 50;
}

.box_checkpoints{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card_checkpoint{
    width: 35rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  2rem;
    gap: 2rem;
    box-shadow: rgba(191, 152, 255, 0.205) 3px 3px 6px 0px inset, rgba(191, 152, 255, 0.205) -3px -3px 6px 1px inset;
    background: rgb(39,25,78);
    background: radial-gradient(circle, rgb(52, 33, 102) 0%, rgba(34, 15, 58, 0.966) 60%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 2px ridge rgba(180, 130, 238, 0.281);
    border-radius: 10px;
}

.card_checkpoint h2{
    font-size: 1.8rem !important;
}

.card_checkpoint p{
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 0 2rem;
    line-height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.bnbWallet{
    font-size: 1.7rem!important;
    position: relative;
    top: -1rem;
}

.cctDeposit{
    font-size: 1.7rem!important;
    position: relative;
    top: 1rem;
}

/* check */

.label_match_stake{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    letter-spacing: .5px;
    cursor: pointer;
    z-index: 50;
}

.label_match_stake a{
    text-decoration: none;
    color:#8b64f5;
}



.label_match_stake input {
    position: absolute;
    left: -9999px;
  }

  .label_match_stake input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #6543c2;

  }
  .label_match_stake span {
    display: flex;
    align-items: center;
    border-radius: 99em;
    transition: 0.25s ease;
  }

  .label_match_stake span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    width: 1.5em;
    height: 1.5em;
    margin-right: 1rem;
    background-color: rgba(0, 0, 0, 0.068);
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #8b64f5;
  }


  
  @media screen and (max-width:1440px) {
    
    .label_match_stake{
        margin-bottom: 2rem;
    }

}