.rowRoom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem .5rem ;
    border: 2px solid gray;
    border-radius: 15px;
    height: 8.8rem;
}

.row-map{
    padding: 1rem 0;
}

.MatchRoom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
}

.MatchRoom img , .ownerRoom img{
    width: 6.5rem;
    height: 6.5rem;
    object-fit: contain;
    border-radius: 15px;
    filter: contrast(110%);
    box-shadow: 0 0 1rem rgba(168, 130, 255, 0.13);

}

.challenge{
    padding: 1rem;
    border-radius: 12px;
    box-shadow: rgba(207, 187, 255, 0.226) 3px 3px 6px 0px inset, rgba(226, 216, 255, 0.103) -3px -3px 6px 1px inset;
    background: radial-gradient(circle, rgba(185, 65, 255, 0.863) 0%, rgba(107, 82, 175, 0.801) 90%);
    background: linear-gradient(-25deg, #ad62cf, #921dff, #ad62cf);
    cursor: pointer;
    margin-right: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.281);
    text-transform: uppercase;
    text-shadow: 0 0 1rem black;
    transition: all .3s ease;
}

.room_full {
    padding: 1rem;
    border-radius: 12px;
    box-shadow: rgba(207, 187, 255, 0.226) 3px 3px 6px 0px inset, rgba(226, 216, 255, 0.103) -3px -3px 6px 1px inset;
   /* background: radial-gradient(circle, rgba(214, 116, 35, 0.863) 0%, rgba(107, 82, 175, 0.801) 90%); */
     background: linear-gradient(-25deg, #a753c0, #ff5757, #a753c0);
    margin-right: 2rem;
    border: none;
    text-transform: uppercase;
    text-shadow: 0 0 1rem black;
    transition: all .3s ease;
}

.room_full:hover{
    filter: drop-shadow( 0 0 5px rgba(255, 100, 100, 0.541));
    transition: all .3s ease;
}

.room_data p{
    color: white;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.room_data{
    width: 16rem;
}
.room_myRoom {
    padding: 1rem;
    border-radius: 12px;
    box-shadow: rgba(207, 187, 255, 0.226) 3px 3px 6px 0px inset, rgba(226, 216, 255, 0.103) -3px -3px 6px 1px inset;
   /* background: radial-gradient(circle, rgba(214, 116, 35, 0.863) 0%, rgba(107, 82, 175, 0.801) 90%); */
    background: linear-gradient(-25deg, #1c741c, #00dd76, #1c741c);
    cursor: pointer;
    margin-right: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.281);
    text-transform: uppercase;
    text-shadow: 0 0 1rem black;
    transition: all .3s ease;
}


.room_myRoom:hover{
    filter: drop-shadow( 0 0 5px rgba(100, 255, 170, 0.541));
    transition: all .3s ease;
}


.amount_room{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: auto;
    padding: 0 1rem;
    box-shadow: 0 0 1rem rgba(168, 130, 255, 0.918);
    border-radius: 15px;
}

.amount_room img{
    width: 6rem;
    object-fit: contain;
    filter: contrast(105%) brightness(105%);
}

.team1_romFlag , .team2_romFlag{
    width: 10rem;
}

.RoomId{
    position: relative;
    left: 2rem;
    letter-spacing: 1px;
}