.containerDapp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.liveNav{
    position: relative;
    width: 63.5vw;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem 4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.13);
    background-color: rgba(133, 100, 177, 0.315);
    backdrop-filter: blur(1rem);
    margin: .3rem 0rem;
    color: white;
}

.containerDapp_title{
    position: relative;
    width: 75vw;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem 4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.13);
    background-color: rgba(133, 100, 177, 0.315);
    backdrop-filter: blur(1rem);
    margin: .3rem 0rem;
}

.containerDapp_title p{
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
}

.arrowsHome{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-size: 2.2rem;
    color: white;
    cursor: pointer;
}

.arrowLeft_home:hover{
    color: #d6b0ff;
}

.arrowRight_home:hover{
    color: #d6b0ff;
}

.containerDapp_cards{
    position: relative;
    width: 75vw;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    backdrop-filter: blur(1rem);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.151);
    background-color: rgba(133, 100, 177, 0.315);
    backdrop-filter: blur(1rem);
}

.cardMain{
    height: 22.5rem;
    width: 23.8vw;
    border-radius: 10px;
    background: #160D1F;
    background-image: url("./src/card.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    box-shadow: .7rem 1rem  1rem rgba(0, 0, 0, 0.212);
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.cardMain::before{
    height: 22.5rem;
    width: 23.8vw;
    position: absolute;
    content: " ";
    border-radius: 10px;
    transition: all .2s ease-in-out;
    background: #16161631;
}


*{
    text-decoration: none;
}

.cardMain h2{
    margin-top: 2rem;
    color: white;
    font-size: 2.4rem;
    text-transform: uppercase;
    z-index: 1000;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
}

.team1_live,.team2_live, .liveBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.match_live{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 4rem;
    border: 2px solid #d1a0ff46;
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: 6rem;
}

.flag_team1_live, .flag_team2_live{
    width: 4.5rem;
    height: 3rem;
    border-radius: 10px;
}
.flag_live_img{
    width: 100%;
    height: 100%;
    filter: contrast(110%) brightness(110%);
}

.boxResut_live{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxResut_live p{
    font-size: 1.7rem;
    text-transform: uppercase;
}


.result_team1_live, .result_team2_live{
    width: 2rem;
    height: 2.7rem;
    color: white;
    border-radius: 5px;
    font-size: 1.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
}

.text_live{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 2px solid #d1a0ff46;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding-right: 4rem;
    height:6rem;
}

.text_live p{
    font-size: 1.7rem;
    color: white;
    text-transform: uppercase;
}

.activeLive{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    animation: liveNow 2.1s infinite linear;
}

@keyframes liveNow {
    0%{
        background-color: rgba(143, 143, 143, 0);
    }

    50%{
        background-color: rgb(190, 26, 26);
    }

    100%{
        background-color: rgba(143, 143, 143, 0);
    }
}
.container_live_social{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

.social_nav{
    width: 11vw;
    position: relative;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.13);
    background-color: rgba(133, 100, 177, 0.315);
    backdrop-filter: blur(1rem);
    margin: .3rem 0rem;
    gap: 1.4rem;
}

.social_nav i{
    font-size: 2.8rem;
    color: white;
    transition: all .2s ease-in-out;
}

.social_nav i:hover{
    color: rgb(192, 153, 255);
    transition: all .2s ease-in-out;
}



.cardMain:hover{
    background-color: rgba(253, 251, 255, 0.692);
}
  
@media screen and (max-width: 1460px) {
   
    .containerDapp_cards{
        width: 90%;
        height: 20rem;
    }

    .containerDapp_title{
        width: 90%;
        height: 5rem;
    }

    .liveNav{
        width: 70vw;
        height: 5rem;
    }

    .social_nav{
        width: 19vw;
        height: 5rem;
    }
    
    .container_live_social{
        gap: 1rem;
    }

    .cardMain{
        height: 18rem;
        width: 28.1vw;
    }
    
    .cardMain::before{
        height: 18rem;
        width: 28.1vw;
    }
  
  }
  

  
@media screen and (max-width: 1200px) {
   
    .containerDapp_cards{
        width: 95%;
        height: 20rem;
    }

    .containerDapp_title{
        width: 95%;
        height: 5rem;
    }

    .liveNav{
        width: 73vw;
        height: 5rem;
    }

    .social_nav{
        width: 20vw;
        height: 5rem;
    }
    
    .container_live_social{
        gap: 1rem;
    }
    .cardMain{
        height: 18rem;
        width: 29.3vw;
    }
    
    .cardMain::before{
        height: 18rem;
        width: 29.3vw;
    }
  
  }
  
  
  @media screen and (max-width: 824px) {

    .containerDapp_title{
        width: 95%;
        height: 7rem;
    }

    .containerDapp{
        height: 100%;
    }

    .containerDapp_cards{
        width: 95%;
        height: 100%;
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .cardMain{
        height: 25rem;
        width: 90vw;
    }
    
    .cardMain::before{
        height: 33rem;
        width: 95vw;
    }
 
  }
@media screen and (max-width: 700px) {
    .social_nav{
        display: none;
    }

    .liveNav{
        width: 95vw;
    }
}

@media screen and (max-width: 550px) {

    .match_live{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0 2rem;
        border: none;
        text-align: center;
    }

    .text_live p{
        font-size: 1.5rem;
        width: 100%;
        text-transform: uppercase;
    }

    .containerDapp_title {
      padding: 0 2rem;
    }

    .text_live {
        gap: 1rem;
        padding-right: 4rem;
        height: 6rem;
        width: 15rem;
    }

    .cardMain{
        height: 25rem;
        width: 90vw;
    }
    
    .cardMain::before{
        height: 25rem;
        width: 90vw;
    }
}

@media screen and (max-width: 440px) {

    .text_live p{
        font-size: 1.1rem;
    }

    .containerDapp_title{
        width: 95%;
        height: 5rem;
    }


    .activeLive {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin-top: -.4rem;
        animation: liveNow 2.1s infinite linear;
    }

    .social_nav{
        width: 20vw;
        height: 5rem;
    }
    .text_live {
        gap: 1rem;
        padding-right: 2rem;
        height: 6rem;
        width: 11rem;
    }

    .match_live {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding: 0 0rem;
        border: none;
        text-align: center;
    }

    .cardMain{
        height: 25rem;
        width: 90vw;
    }
    
    .cardMain::before{
        height: 25rem;
        width: 90vw;
    }

}