.containerDapp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.liveNav{
    position: relative;
    width: 63.5vw;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 1rem 4rem;
    margin: .3rem 0rem;
    color: white;
    border-radius: 10px;
    overflow-x: scroll;
    border: 1px solid #b26aff75;
    background: radial-gradient(circle, rgba(254, 254, 255, 0.219) 0%, rgba(20, 11, 44, 0.692) 50%);
    background-color: rgb(91, 44, 168);
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;
}


.text_live {
    width: 15rem;
}

.liveNav::-webkit-scrollbar {
    width: 5px;
    height: .3rem;
    border-right: none;
    background-position: top;
}


.social_nav{
    width: 11vw;
    position: relative;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: .3rem 0rem;
    gap: 1.4rem;
    border: 1px solid #b26aff75;
    background: radial-gradient(circle, rgba(254, 254, 255, 0.171) 0%, rgba(20, 11, 44, 0.822) 110%);
    background-color: rgb(92, 40, 175);
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;
    border-radius: 10px;

}

.social_nav i{
    font-size: 2.8rem;
    color: white;
    transition: all .2s ease-in-out;
}

.social_nav i:hover{
    color: rgb(192, 153, 255);
    transition: all .2s ease-in-out;
}


.containerDapp_title{
    position: relative;
    width: 75vw;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem 4rem;
    margin: .3rem 0rem;
    border: 1px solid #b26aff75;
    background: radial-gradient(circle, rgba(254, 254, 255, 0.219) 0%, rgba(20, 11, 44, 0.692) 50%);
    background-color: rgb(74, 28, 146);
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;
}

.containerDapp_title p{
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
}

.arrowsHome{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-size: 2.2rem;
    color: white;
    cursor: pointer;
}

.arrowLeft_home:hover{
    color: #d6b0ff;
}

.arrowRight_home:hover{
    color: #d6b0ff;
}

.containerDapp_cards{
    position: relative;
    width: 75vw;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    border: 1px solid #b26aff75;
    background: radial-gradient(circle, rgba(108, 50, 243, 0.315) 0%, rgba(20, 11, 44, 0.692) 60%);
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;

}

.cardMain{
    height: 22.5rem;
    width: 23.8vw;
    border-radius: 10px;
    background: #160D1F;
    display: flex;
    justify-content: center;
    box-shadow: .7rem 1rem  1rem rgba(0, 0, 0, 0.877);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s ease-in-out;
    filter: drop-shadow(0 0 10px rgba(154, 120, 248, 0.534));
}



.containerDapp_cards-miniGames{
    padding: .5rem;
    background-image: url("./src/recuardoCard.gif");
    background-size: 105% 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    height: 22.5rem;
    width: 23.8vw;
}

.containerDapp_cards-miniGames::after{
    content: "";
    position: absolute;
    width: 98%;
    height: 96%;
    top: 0;
    z-index: 99999 !important;
    background-image: url("./src/CardDappBasicLadder.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat; 
    margin: .5rem;
}

.containerDapp_cards-boost{
    background-image: url("./src/boostCandado.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(180%);


} 
.containerDapp_cards-friends{
    background-image: url("./src/challengeCandado.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(180%);
} 
.containerDapp_cards-staking{
    background-image: url("./src/stakingCandado.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(180%);
}  
.containerDapp_cards-marketplace {
    background-image: url("./src/marketCandado.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(180%);
}


.cardMain::before{
    height: 22.5rem;
    width: 23.8vw;
    position: absolute;
    content: " ";
    border-radius: 10px;
    transition: all .2s ease-in-out;
    background: #16161631;
}


*{
    text-decoration: none;
}

.cardMain h2{
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
    z-index: 1000;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
    -webkit-background-clip: text;
    background-clip: text;
    font-family:gilron;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.team1_live,.team2_live, .liveBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.match_live{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 4rem;
    border: 1px solid #b26aff75;
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: 6rem;
    
}

.flag_team1_live, .flag_team2_live{
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag_live_img{
    width: 4rem;
    object-fit: contain;
    height: 4rem;
    filter: contrast(110%) brightness(110%) drop-shadow( 0 0 1px rgba(255, 255, 255, 0.24));
}

.boxResut_live{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxResut_live p{
    font-size: 1.7rem;
    text-transform: uppercase;
}


.result_team1_live, .result_team2_live{
    width: 2rem;
    height: 2.7rem;
    color: white;
    border-radius: 5px;
    font-size: 1.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
}

.text_live{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid #b26aff75;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding-right: 4rem;
    height:6rem;
}

.text_live p{
    font-size: 1.7rem;
    color: white;
    text-transform: uppercase;
}

.activeLive{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    animation: liveNow 2.1s infinite linear;
}

@keyframes liveNow {
    0%{
        background-color: rgba(143, 143, 143, 0);
    }

    50%{
        background-color: rgb(190, 26, 26);
    }

    100%{
        background-color: rgba(143, 143, 143, 0);
    }
}
.container_live_social{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    
}



  
@media screen and (max-width: 1460px) {

    .text_live {
        width: 15rem;
    }
   
    .containerDapp_cards{
        width: 90%;
        height: 20rem;
    }

    .containerDapp_title{
        width: 90%;
        height: 5rem;
    }

    .liveNav{
        width:67vw;
        height: 5rem;
    }

    .social_nav{
        width: 22vw;
        height: 5rem;
    }
    
    .container_live_social{
        gap: 1rem;
    }

    .cardMain{
        height: 18rem;
        width: 28.1vw;
    }
    
    .cardMain::before{
        height: 18rem;
        width: 28.1vw;
    }
  
  }
  

  
@media screen and (max-width: 1200px) {
   
    .containerDapp_cards{
        width: 95%;
        height: 20rem;
    }

    .containerDapp_title{
        width: 95%;
        height: 5rem;
    }
    .liveNav{
        width:70vw;
        height: 5rem;
    }

    .social_nav{
        width: 24vw;
        height: 5rem;
    }
    
    .container_live_social{
        gap: 1rem;
    }
    .cardMain{
        height: 16rem;
        width: 29.3vw;
    }
    
    .cardMain::before{
        height: 16rem;
        width: 29.3vw;
    }



    .text_live {
        height: 6rem;
        width: 15rem;
    }
  
  }
  
  
  @media screen and (max-width: 824px) {

    .container_live_social{
        width: 95%;
    }

    .containerDapp_title{
        width: 95%;
        height: 7rem;
    }

    .containerDapp{
        height: 100%;
    }

    .containerDapp_cards{
        width: 95%;
        height: 100%;
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .containerDapp_cards-miniGames::after{
        background-position: 0% 30%;

    }
    .cardMain{
        height: 25rem;
        width: 90vw;
        object-fit: cover;
        background-position: 0% 30%;
    }
    
    .cardMain::before{
        height: 32rem;
        width: 95vw;
    }

    .liveNav {
        width: 73vw;
        height: 5rem;
    }
 
  }
@media screen and (max-width: 700px) {
    .social_nav{
        display: none;
    }

    .liveNav{
        width: 95vw;
    }

    .cardMain{
        height: 22rem;
        width: 90vw;
        object-fit: cover;
    }

    .cardMain::before{
        height: 22rem;
        width: 90vw;
    }

    .containerDapp_title {
        padding: 0 2rem;
        height: 5.5rem;
      }
}

@media screen and (max-width: 550px) {

    .match_live{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0 2rem;
        text-align: center;
    }

    .text_live p{
        font-size: 1.5rem;
        width: 100%;
        text-transform: uppercase;
    }

    .containerDapp_title {
      padding: 0 2rem;
      height: 5.5rem;
    }

    .text_live {
        gap: 1rem;
        padding-right: 4rem;
        height: 6rem;
        width: 15rem;
    }

    .cardMain{
        height: 24rem;
        width: 90vw;
    }
    
    .cardMain::before{
        height: 24rem;
        width: 90vw;
    }
}

@media screen and (max-width: 440px) {

    .text_live p{
        font-size: 1.3rem;
    }

    .containerDapp_title{
        width: 95%;
        height: 5rem;
    }

    .activeLive {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin-top: -.4rem;
        animation: liveNow 2.1s infinite linear;
    }


    .text_live {
        width: 13rem;
    }


    .cardMain{
        height: 18rem;
        width: 90vw;
    }
    
    .cardMain::before{
        height: 18rem;
        width: 90vw;
    }

}