.stake{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.box_cards_stake{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    padding: .5rem 0;
}

.card_stake{
    width: 30rem;
    overflow: hidden;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem 2rem;
    background: rgb(39,25,78);
    background: radial-gradient(circle, rgb(52, 33, 102) 0%, rgba(34, 15, 58, 0.966) 60%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 2px ridge rgba(180, 130, 238, 0.281);
}

.card_stake h2{
    font-size: 1.8rem;
    letter-spacing: 1px;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(160deg,#a78fff,#c18aff,#d5b9ff,#fff,#d5b9ff,#c18aff,#a78fff);
    color: transparent;
}

.card_stake p{
    padding: .5rem;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.line_card{
    width: 100%;
    height: .1rem;
    background-color: white;
}


/* next container */

.box_stake_next{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    height:  15rem;
}

.box_stake_next h2{
    letter-spacing: 1px;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(160deg,#a78fff,#c18aff,#d5b9ff,#fff,#d5b9ff,#c18aff,#a78fff);
    color: transparent;
}



.next_containers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.chekpointsAccess{
    background: rgb(39,25,78);
    background: radial-gradient(circle, rgb(52, 33, 102) 0%, rgba(34, 15, 58, 0.966) 60%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 2px ridge rgba(180, 130, 238, 0.281);
    padding: 1.5rem 2rem;
    border-radius: 10px;
    width: 23rem;
}




/* checkpoints */


.components_selection_stake{
    width: 100%;
    height:  25rem;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}


.components_selection_stake h2{
    letter-spacing: 1px;
    font-size: 2.5rem;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(160deg,#a78fff,#c18aff,#d5b9ff,#fff,#d5b9ff,#c18aff,#a78fff);
    color: transparent;
    padding: 0 3rem;
}

.chekpointsAccess p{
    font-size: 1.6rem;
    letter-spacing: 1px;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(160deg,#a78fff,#c18aff,#d5b9ff,#fff,#d5b9ff,#c18aff,#a78fff);
    color: transparent;
}

.chekpointsAccess img{
    object-fit: cover;
    filter: hue-rotate(240deg) brightness(150%) contrast(110%);
}

/* buttons */


.buttons_stake{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    z-index: 50;
    margin-top: 3rem;
}

.buttons_stake button{
    width: 12rem;
    height: 5rem;
    border-radius: 10px;
    background: rgb(39,25,78);
    background: radial-gradient(circle, rgb(52, 33, 102) 0%, rgba(34, 15, 58, 0.966) 60%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 2px ridge rgba(180, 130, 238, 0.281);
    color: white;
    letter-spacing: 1px;
    font-size: 2rem;
    cursor: pointer;
    transition: all .7s ease;
    z-index: 50;
}

.buttons_stake button:hover{
    font-size: 2rem;
    filter: drop-shadow( 0 0 10px rgb(73, 35, 122));
    scale: 1.05;
    transition: all .7s ease;
}

.buttonDisable{
    width: 12rem;
    height: 5rem;
    border-radius: 10px;
    background: rgba(247, 247, 247, 0.562);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 2px ridge rgba(180, 130, 238, 0.281);
    color: white;
    letter-spacing: 1px;
    font-size: 2rem;
    transition: all .7s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 50;
    cursor: pointer;
}

.separador{
    width: 100%;
    border: 2px solid transparent;
    position: relative;
}

@media screen and (max-width:1440px) {
    

    .box_stake_next {
        margin: 3rem 0;
    }

    .components_selection_stake {
        margin-top: 5rem;
    }
}

@media screen and (max-width:550px) {
    

    .box_stake_next {
        margin: 13rem 0;
    }

    .components_selection_stake {
        margin-top: 5rem;
    }
}