.friendsLadder{
    width: 100%;
    height: 86vh;
    margin-top: 1rem;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_friendsLadder{
    width: 74vw;
    height: 100%;
    position: relative;
    border-radius: 15px;
    padding: 2rem;
    border-bottom: 2px solid rgba(150, 112, 255, 0.281);
    backdrop-filter: blur(1rem);
    font-size: 2rem;
    color: white;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1000;
    box-shadow: rgba(191, 152, 255, 0.205) 3px 3px 6px 0px inset, rgba(191, 152, 255, 0.205) -3px -3px 6px 1px inset;
    background: rgb(39,25,78);
    background: radial-gradient(circle, rgb(52, 33, 102) 0%, rgba(29, 13, 48, 0.966) 60%);
    overflow-y: scroll;
}




@media screen and (max-width:1440px) {
    .container_friendsLadder{
        width: 90vw;
    }
}


@media screen and (max-width:1024px) {
    .container_friendsLadder{
        width: 90vw;
    }
}


@media screen and (max-width:600px) {
    .container_friendsLadder{
        width: 90vw;
    }
}


@media screen and (max-width:480px) {
    .container_friendsLadder{
        width: 98vw;
    }
}