.profileUser{
    width: 100%;
    height: 89.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}


.nav_profileUser{
    position: relative;
    width: 74vw;
    height: 10rem;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    border-radius: 10px;
    padding: 0 4rem;
    margin-top: 1rem;
    background: radial-gradient(circle, rgba(254, 254, 255, 0.219) 0%, rgba(20, 11, 44, 0.733) 60%);
    background-color: rgb(91, 44, 168);
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;
}

.data_user_name{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .6rem;
}





.nav_profileUser h2{
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav_profileUser p{
    color: rgba(255, 255, 255, 0.897);
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.nav_profileUser img{
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
}



.container_profileUser{
    width: 74vw;
    height: 78vh;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(1rem);
    margin-top: 1rem;
    border-radius: 15px;
    box-shadow: rgba(191, 152, 255, 0.205) 3px 3px 6px 0px inset, rgba(191, 152, 255, 0.205) -3px -3px 6px 1px inset;
    background: rgb(39,25,78);
    background: radial-gradient(circle, rgb(52, 33, 102) 0%, rgba(29, 13, 48, 0.966) 60%);
    overflow-y:scroll ;
}


.profile_cabecera{
    width: 74vw;
    height: 6rem;
    backdrop-filter: blur(1rem);
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.171);
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(210, 194, 255, 0.103) -3px -3px 6px 1px inset;
    background: radial-gradient(circle, rgba(254, 254, 255, 0.384) 0%, rgba(54, 45, 78, 0.918) 60%);
    background-color: rgba(61, 15, 134, 0.932);
    position: absolute;
    top: 12rem;
    z-index: 999;
}

.box_cabecera{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    padding-right: 5rem;
    letter-spacing: 1px;
}

.box_cabecera p{
    cursor: pointer;
}

/* tickets */

.container_tickets_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    column-gap: 3rem;
    margin-top: 6rem;
    padding: 0rem 4rem;
}

.box_tickets_profileUser{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(3px);
    padding: 1rem 2.5rem;
    border-radius: 15px; 
    margin: 1rem 0;
    margin-top:4rem;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
}

.ticket_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.ticketImg{
    width: 10.5rem;
    height: 22rem;
    transform:translateZ(50px) ;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.308));
}

.puntuacion_ticket{
    font-size: 1.8rem;
    color: white;
    letter-spacing: 1px;
    transform:translateZ(50px);
}




.button_connectAddress {
    position: absolute;
    right: 0;
    padding: .5rem 2rem;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgb(39,25,78);
    background: radial-gradient(circle, rgb(99, 79, 150) 0%, rgba(61, 34, 95, 0.966) 95%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 2px ridge rgba(180, 130, 238, 0.438);
    color: white;
    text-shadow: 0 0 .4rem black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    gap: 1rem;
    transition: all .6s ease;
}

.button_connectAddress:hover{
    scale: 1.03;
    transition: all .6s ease;
}


.logoMetamaskButton{
    width: 4rem !important;
    height: 4rem !important;
    object-fit: cover;
}







@media screen and (max-width:1440px) {

    .nav_profileUser {
        width: 90vw;
    }

    .nav_profileUser h2{
        font-size: 1.9rem;
    }

    .container_profileUser {
        width: 90vw;
        height: 65vh;
    }

    .profile_cabecera {
        width: 90vw;
        top: 12rem;
    }

        
    .box_cabecera{
        font-size: 1.5rem;
    }

}




@media screen and (max-width: 700px) {
    .container_profileUser {
        width: 95vw;
    }

    .nav_profileUser img{
        width: 6rem;
        height: 6rem;
    }

    .nav_profileUser h2{
       font-size: 2rem;
    }

    .nav_profileUser p{
        font-size: 1rem;
     }

    .nav_profileUser {
        padding: 0 2rem;
    }

    
    .nav_profileUser {
        width: 95vw;
    }

    .profile_cabecera {
        width: 95vw;
        top: 11.7rem;
    }
 
}

@media screen and (max-width: 550px) {

   
}

@media screen and (max-width: 410px) {

     .nav_profileUser p{
         font-size: .9rem;
      }

      .box_cabecera p{
        font-size: 1.6rem;
      }
}

@media screen and (max-width: 390px) {

    .nav_profileUser p{
        font-size: .8rem;
     }

     .box_cabecera p{
        font-size: 1.5rem;
      }
}