.profileUser{
    width: 100%;
    height: 89.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}


.nav_profileUser{
    position: relative;
    width: 74vw;
    height: 10rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    border-radius: 10px;
    padding: 0 4rem;
    margin-top: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.336);
    background-color: rgba(133, 100, 177, 0.315);
    backdrop-filter: blur(1rem);
    background-image: url("../config/src/backMatch2.jpg");
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;
}

.data_user_name{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .6rem;
}

.nav_profileUser h2{
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav_profileUser p{
    color: rgba(255, 255, 255, 0.897);
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.nav_profileUser img{
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
}



.container_profileUser{
    width: 74vw;
    height: 78vh;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.226);
    background-color: rgba(85, 84, 84, 0.041);
    backdrop-filter: blur(1rem);
    margin-top: 1rem;
    border-radius: 15px;
    background-image: url("../config/src/backMatch2.jpg");
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;
    overflow-y:scroll ;
}


.blur_profileUser{
    width: 73.6vw;
    height: 75vh;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.profile_cabecera{
    width: 74vw;
    height: 6rem;
    background-color: rgba(158, 85, 255, 0.281);
    border-bottom: 2px solid rgb(196, 136, 255);
    backdrop-filter: blur(1rem);
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;
    position: absolute;
    top: 12rem;
    z-index: 999;
}

.box_cabecera{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    padding-right: 5rem;
    letter-spacing: 1px;
}

.box_cabecera p{
    cursor: pointer;
}

/* tickets */

.container_tickets_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    column-gap: 3rem;
    margin-top: 6rem;
    padding: 0rem 4rem;
}

.box_tickets_profileUser{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(3px);
    padding: 1rem 2.5rem;
    border-radius: 15px; 
    margin: 1rem 0;
    margin-top:4rem;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
}

.ticket_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.ticketImg{
    width: 10.5rem;
    height: 22rem;
    transform:translateZ(50px) ;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.308));
}

.puntuacion_ticket{
    font-size: 1.8rem;
    color: white;
    letter-spacing: 1px;
    transform:translateZ(50px);
}



@media screen and (max-width:1440px) {

    .nav_profileUser {
        width: 90vw;
    }

}








