.nav_inventario{
    width: 36rem;
    height: 90vh;
    display: flex;
    justify-content: center;
    top: 54.7%;
    left: -36.5rem;
    align-items: center;
    gap: 2rem;
    position: fixed;
    box-shadow: 0 0 .7rem rgba(213, 184, 252, 0.329);

    background-color: rgba(11, 5, 19, 0.973);
    backdrop-filter: blur(1rem);
    z-index: 9999;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: translate(0 , -50%);
    border-left: none;
    transition: all .8s ease-in-out;
}

.nav_inventario:hover{
    width: 32rem;
    height: 90vh;
    left: 0rem;
    transition: all .5s ease-in-out;
}

.nav_Toggle_inventario{
    position: fixed;
    width: 6rem;
    height: 20vh;
    top: 50%;
    left: 100.155%;
    transform: translate(0%, -50%);
    box-shadow: 0 0 .7rem rgba(213, 184, 252, 0.329);
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(11, 5, 19, 0.973);
    backdrop-filter: blur(1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: all .2s ease-in-out;
}


/* 

.nav_inventario:hover > .nav_Toggle_inventario img{
   display: none;
} */


.nav_Toggle_inventario img{
    width: 3.5rem;
    opacity: .5;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.nav_Toggle_inventario img:hover{
    filter: drop-shadow(0 0 10px rgba(112, 2, 255, 0.925));
    transition: all .3s ease-in-out;
}