.prediciton{
    width: 46.5rem;
    height: 30rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0rem 4rem;
    margin-bottom: 3.5rem;
    padding: .8rem;
    box-shadow: rgba(166, 128, 255, 0.404) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.404) -3px -3px 6px 1px inset ,rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: rgba(96, 53, 175, 0.226);
}

/* header predict */


.header_prediction{
    position: relative;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    border-bottom: 3.7px ridge rgba(206, 206, 206, 0.253);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.time_prediction{
    background-color:#ffecec1a;
    padding: 4px 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.5rem;
    width: 10rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    position: absolute;
    left: 1rem;
}

.time_prediction strong{
    font-size: 1.3rem;
    padding: 0 .1rem;
}

.time_prediction p {
    padding: 0 .5rem;
    font-size: 1.1rem;
}


.match-status {
    background-color:#ffecec1a;
    color: #ec2643;
    padding: 4px 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.5rem;
    width: 7rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    line-height: 1;
    position: absolute;
    left: 2rem;
  }
  .match-status:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: currentColor;
    border-radius: 50%;
    margin-right: 8px;
    animation: luzVivo 1.5s infinite linear;
  }


  @keyframes luzVivo {
    0%{ 
        background-color: transparent;
    }
    50%{
        background-color: #ec2643;
    }
    100%{
        background-color: transparent;
    }
    
}


  .match-tournament {
    font-size: 1.7rem;
  }

/* main */

.match_result_prediction{
    position: relative;
    width: 100%;
    height: 10.2rem;
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 3rem;
    top: 1.5rem;
}

.match_result_prediction img{
    width: 11rem;
    height: 11rem;
    object-fit: contain;
    border-radius: 15px;
    padding: .5rem;
}


.vs_prediction{
    font-size: 4rem;
    letter-spacing: 1px;
    font-family: qatar;
    font-style: oblique;
}

/* box select */

.box_select_prediction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 13rem;
    position: relative;
}


.select_prediciton button{
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    text-shadow: 0 0 .8rem rgba(0, 0, 0, 0.733);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    position: relative;

}


.select_prediciton{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 12rem;
    position: relative;
    top: 2rem;
    text-align: center;
}

.left_pred , .center_pred , .right_pred{
    width: 15rem;
    height: 5rem;
    padding: .4rem;
    background-color: rgba(177, 129, 253, 0.199);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: rgba(137, 102, 218, 0.336) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.301) -3px -3px 6px 1px inset ,rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    animation: luz 2s infinite linear;
}

@keyframes luz {
    0%{ 
    
    }
    50%{
        box-shadow: rgba(137, 102, 218, 0.671) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.575) -3px -3px 6px 1px inset ,rgba(70, 16, 133, 0.17) 0px -23px 25px 0px inset;
    }
    100%{
      
    }
    
}


.center_pred{
    width: 10rem;
    height: 5rem;
}

/* button predict */
.predict_button{
    position: relative;
    width: 100%;
    height: 7.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

}

.left_pred_active , .center_pred_active  , .right_pred_active {
    box-shadow: 0 0 1rem rgb(205, 174, 255);
    animation: errorNoPrediction .9s infinite linear;
}



@keyframes errorNoPrediction {
    0%{
        box-shadow: 0 0 0rem rgba(255, 101, 77, 0);
    }
    50%{
        box-shadow: 0 0 1rem rgb(205, 174, 255);
    }
    100%{
        box-shadow: 0 0 0rem rgba(255, 101, 77, 0);
    }
}

.left_pred:active , .center_pred:active , .right_pred:active{
    box-shadow: 0 0 1rem rgba(204, 160, 255, 0.288);
}

.predict_button_disable{
    width: 78%;
    top: 2.5rem;
    border:none;
    border-radius: 10px;
    font-size: 1.7rem;
    text-shadow: 0 0 .8rem rgba(0, 0, 0, 0.733);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.predict_button_active{
    width: 78%;
    top: 2.5rem;
    background-color: rgba(178, 130, 255, 0.671);
    border:none;
    border-radius: 10px;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.13) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.164) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.007) 0px -79px 40px 0px inset;
    
}

@media screen and (max-width:1440px) {
    .prediciton{
        width: 40rem;
        height: 30rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin: 0rem 4rem;
        margin-bottom: 3.5rem;
        padding: .8rem;
        
    }
    
  
}



@media screen and (max-width:440px) {
    .prediciton{
        width: 37rem;
        height: 30rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin: 0rem 4rem;
        margin-bottom: 3.5rem;
        padding: .8rem;
    }

    .time_prediction {
        width: 10rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 1rem;
    }

    .time_prediction strong{
        font-size: 1.1rem;
        padding: 0;
    }
    
}



@media screen and (max-width:360px) {
    .prediciton{
        width: 30rem;
        height: 28rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin: 0rem 4rem;
        margin-bottom: 3.5rem;
        padding: .8rem;
    }

    .match_result_prediction img{
        width: 8rem;
        height: 8rem;
        object-fit: contain;
        border-radius: 15px;
        padding: .5rem;
    }
    
    .time_prediction{
        display: none;
    }
}


/* .livePrediction{
    width: 100%;
    height: 5rem;
    background-color: rgba(177, 129, 253, 0.199);
    backdrop-filter: blur(1rem);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    gap: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
.active_live_prediction{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    animation: liveNow 2.1s infinite linear;
}

.time_prediction{
    width: 100%;
    height: 5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    gap: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:center;
}

.hours_predictions, .mins_predictions{
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(177, 129, 253, 0.199);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #32059bb6;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.tt_pred{
    font-size: 1.2rem;
}


.right_pred p, .left_pred p , .tie_pred{
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 1rem;
}

.match_result_prediction{
    height: 10rem;
    width: 100%;
    background-color: rgba(177, 129, 253, 0.199);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    gap: 3.8rem;
    background-color: #32059bb6;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.match_result_prediction img{
    width: 8.5rem;
    height: 7rem !important;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: 0 1rem;
    margin-top: -.5rem;
}


.vs_prediction{
    font-size: 3.5rem;
    letter-spacing: 1px;
    font-family: qatar;
    font-style: oblique;
}

.box_select_prediction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    text-transform: uppercase;
}

.select_prediciton button{
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    text-shadow: 0 0 .8rem rgba(0, 0, 0, 0.733);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.select_prediciton{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 5rem;
    gap: 1rem;
}


.left_pred , .center_pred , .right_pred{
    width: 100%;
    height: 6rem;
    background-color: rgba(177, 129, 253, 0.199);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    border-radius: 10px;
    background-color: #32059bb6;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.left_pred_active , .center_pred_active  , .right_pred_active {
    box-shadow: 0 0 1rem rgb(205, 174, 255);
    animation: errorNoPrediction .9s infinite linear;
}

@keyframes errorNoPrediction {
    0%{
        box-shadow: 0 0 0rem rgba(255, 101, 77, 0);
    }
    50%{
        box-shadow: 0 0 1rem rgb(205, 174, 255);
    }
    100%{
        box-shadow: 0 0 0rem rgba(255, 101, 77, 0);
    }
}

.left_pred:active , .center_pred:active , .right_pred:active{
    box-shadow: 0 0 1rem rgba(204, 160, 255, 0.288);
}

.predict_button_disable{
    width: 100%;
    height: 5rem;
    background-color: rgba(192, 190, 190, 0.671);
    border:none;
    border-radius: 15px;
    font-size: 1.9rem;
    text-shadow: 0 0 .8rem rgba(0, 0, 0, 0.733);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.predict_button_active{
    width: 100%;
    height: 5rem;
    background-color: rgba(178, 130, 255, 0.671);
    border:none;
    border-radius: 15px;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


@media screen and (max-width:1440px) {
    .prediciton{
        transform: scale(.9);
        margin: 0rem;
    }

  
}
 */