*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:gilron;
    user-select:none !important;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    border-right: none;
    background-position: top;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #d9b8ffb2;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d0a6ff;
}
::-webkit-scrollbar-thumb:active {
  background: #8b4dff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@font-face {
    font-family: 'gilron';
    src: url('./components/config/fonts/Gilroy-ExtraBold.otf') format("truetype");
    font-display: swap
  }
  

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    background-color: #160D1F;
    user-select: none;
    background-image: url("./components/matchFeed/backMatch4.jpg");
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
  }
  
  main{
    overflow: hidden;
    background: #160D1F;
    user-select: none;

  }
  
  