*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:gilron;
    user-select:none !important;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    border-right: none;
    background-position: top;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(219, 197, 248, 0.315);
  backdrop-filter: blur(1rem);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d0a6ff;
}
::-webkit-scrollbar-thumb:active {
  background: #8b4dff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@font-face {
    font-family: 'gilron';
    src: url('./components/config/fonts/Gilroy-ExtraBold.otf') format("truetype");
    font-display: swap
  }
  
  @font-face {
    font-family: 'qatarHeavy';
    src: url('./components/config/fonts/Qatar2022Arabic-Heavy.ttf') format("truetype");
    font-display: swap
  }

  @font-face {
    font-family: 'qatar';
    src: url('./components/config/fonts/Qatar2022Arabic-Bold.ttf') format("truetype");
    font-display: swap
  }
  

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    background-color: #160D1F;
    user-select: none;
    background-image: url("./components/config/src/backMatch3.jpg");
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
  }

html::after{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.886);
  content: " ";
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  z-index: -1;
}
  
  main{
    overflow: hidden;
    background: #160D1F;
    user-select: none;

  }

  .candado{
    object-fit: contain;
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: contrast(105%) brightness(25%) drop-shadow(0 0 5px rgba(163, 82, 255, 0.616));
  }
  
  