.blurLogin{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    backdrop-filter: blur(1rem);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.blurLogin_active{
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.blurLogin_exit{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.containerLogin{
    width: 70rem;
    height: 37vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(5, 0, 8, 0.952);
    border-radius: 15px;
    border: 1px solid rgb(206, 185, 255);
    backdrop-filter: blur(1rem);
    z-index: 9999 !important;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 2rem rgba(192, 143, 255, 0.767);
    padding: 2rem;
    padding-top: 6.4rem;
    border-radius: 15%;
    text-align: center;    
    border-left: 75px solid transparent; 
    border-right: 75px solid transparent; 
    border-bottom: 38px solid rgba(192, 143, 255, 0.623);
    border-top: 38px solid rgba(192, 143, 255, 0.623);
}


.login_active{
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.content_user_login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}

.welcome {
    color: white;
}

.userName_label{
    position: relative;
    color: white;
    font-size: 2.6rem;
    transition: 1.5s;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.username{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
}

#userName_id{
    width: 65%;
    height: 4rem;
    border: none;
    outline: none;
    color: white;
    font-size: 1.9rem;
    padding: 15px;
    border-radius: 40px;
    cursor: pointer;
    border: 1px solid rgb(201, 172, 255);
    transition: 1.5s;
    letter-spacing: 1px;
    background: rgba(190, 141, 255, 0.151);
    backdrop-filter: blur(2rem);
    font-style: oblique;
    font-weight: bold;
}

.content_user_login input:hover{
    filter: drop-shadow( 0 0 10px rgba(225, 159, 255, 0.466)) ;
    transition: all .5s ease-in-out;
}

.buttonAcept_login{
    width: 90%;
    height: 5rem;
    background-color: rgba(161, 110, 255, 0.788);
    backdrop-filter: blur(1rem);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    cursor: pointer;
}

.buttonAcept_login:active{
    width: 89.9%;
    height: 4.9rem;
    filter: drop-shadow(0 0 2px white);
}

.buttonAcept_login p{
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}


/* banderas login */

.flag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_flag{
    cursor: pointer;
    z-index: 9999;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 12rem;
    height: 6.5rem;
    position: relative;
}

.triangle_flag{
    width: 2.5rem;
    height: 2rem;
    clip-path: polygon(50% 0% , 0% 100%, 100% 100%);
    color: white;
    background-color:rgba(198, 174, 255, 0.534);
    transform: rotate(180deg) translate(-0% , -50%);
    position: absolute;
    right: 15%;
    top: 25%;
}

.circle_flag{
    border: 1px solid rgb(201, 172, 255);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    position: relative;
    overflow: hidden;
    background-color: rgba(98, 10, 240, 0.219);
}

.img_bandera{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container_select_flag{
    position: absolute;
    background-color: rgba(5, 0, 8, 0.952);
    backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
    height: 35rem;
    top: 50%;
    right: 2rem;
    padding: 4rem 2rem; 
    overflow: hidden;
    overflow-y: scroll;
    z-index: 999;
    border-radius: 12%;
    text-align: center;    
    border-left: 45px solid transparent; 
    border-right: 45px solid transparent; 
    border-bottom: 20px solid rgba(198, 174, 255, 0.534); 
    border-top: 20px solid rgba(198, 174, 255, 0.534);
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}

.container_select_flag_active{
    opacity: 1;
    visibility: visible;
    transition: all .15s ease-in-out;
}

.radio{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2rem;
    width: 18rem;
}

.radio p{
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    margin: .5rem 0;
}

.radio input{
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}


@media screen and (max-width:800px) {

    .containerLogin{
        width: 90%;
        height: 45vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        padding-top: 6.4rem;
        border-left: 40px solid transparent; 
        border-right: 40px solid transparent; 
        border-bottom: 28px solid rgba(221, 200, 255, 0.24); 
        border-top: 28px solid rgba(221, 200, 255, 0.24);
    }

    .content_user_login{
        width: 100%;
        gap: .5rem;
    }

    .userName_label{
        font-size: 2.5rem;
        text-align: center;
    }

    .username{
        gap: 2rem;
        padding: 1rem;
        flex-direction: column;
    }

    #userName_id{
        width: 100%;
        height: 3.8rem;
        font-size: 1.9rem;
        padding: 15px;
    }

    .buttonAcept_login{
        width: 80%;
        height: 5rem;
        bottom: 3rem;
    }

    .buttonAcept_login:active{
        width: 89.9%;
        height: 4.9rem;
    }

    .buttonAcept_login p{
        font-size: 2rem;
    }

    .box_flag{
        gap: 1rem;
        width: 12rem;
        height: 6.5rem;
    }

    .triangle_flag{
        width: 2.5rem;
        height: 2rem;
        right: 30%;
        top: 62%;
    }

    .circle_flag{
        width: 4.8rem;
        height: 4.8rem;
        top: 38%;
    }


}


@media screen and (max-width:480px) {

    .containerLogin{
        width: 90%;
        height: 45vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        padding-top: 6.4rem;
        border-left: 40px solid transparent; 
        border-right: 40px solid transparent; 
        border-bottom: 28px solid rgba(221, 200, 255, 0.24); 
        border-top: 28px solid rgba(221, 200, 255, 0.24);
    }

    .content_user_login{
        width: 100%;
        gap: .5rem;
    }

    .userName_label{
        font-size: 2.5rem;
        text-align: center;
        margin-left: -5rem;
        margin-bottom: .5rem;
    }

    .username{
        gap: 2rem;
        padding: 1rem;
        flex-direction: column;
    }

    #userName_id{
        width: 25rem;
        height: 3.8rem;
        font-size: 1.9rem;
        padding: 15px;
    }

    .buttonAcept_login{
        width: 80%;
        height: 5rem;
        bottom: 3rem;
    }

    .buttonAcept_login:active{
        width: 89.9%;
        height: 4.9rem;
    }

    .buttonAcept_login p{
        font-size: 2rem;
    }

    .box_flag{
        gap: 1rem;
        width: 12rem;
        height: 6.5rem;
        position: absolute;
    }

    .triangle_flag{
        width: 2.5rem;
        height: 2rem;
        top: -1.5rem;
        left: 4rem;

    }

    .circle_flag{
        width: 4.5rem;
        height: 4.5rem;
        top: -3rem;
        left: -2rem;
    }

    .container_select_flag {
        top: 35%;
   
    }
}

@media screen and (max-width:350px) {
    .container_select_flag {
        position: absolute;
        background-color: rgba(5, 0, 8, 0.952);
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 30rem;
        height: 35rem;
        top: 35%;
        right: -4.6rem;
        padding: 4rem 2rem;
    }
    .userName_label {
        font-size: 2rem;
        margin-left: -8rem;
    }

    
    .triangle_flag{
        width: 2.5rem;
        height: 2rem;
        top: -1.5rem;
        left: 2rem;
    }

    .circle_flag{
        left: -4rem;
    }

}