.blurLogin{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    backdrop-filter: blur(1rem);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 9999;
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.exit_login_x img{
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    opacity: .6;
    transition: all .3s ease-in-out;
}

.exit_login_x img:hover{
    filter: drop-shadow( 0 0 10px rgba(186, 143, 255, 0.514));
    opacity: 1;
    transition: all .3s ease-in-out;
}


.blurLogin_exit{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.containerLogin{
    width: 65rem;
    height: 40vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(5, 0, 8, 0.055);
    border-radius: 15px;
    backdrop-filter: blur(1rem);
    z-index: 9999 !important;
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0rem;
    gap: 4.5rem;
    text-align: center;    
    background-image: url("../../config/src/backMatch2.jpg");
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: rgba(164, 108, 255, 0.651) 3px 3px 6px 0px inset, rgba(164, 108, 255, 0.651) -3px -3px 6px 1px inset;
    border-radius: 15px;
}

.containerLogin::before{
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.233);
    z-index: -1;
    backdrop-filter: blur(.5rem);
    border-radius: 15px;

}

.content_user_login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
}

.welcome_login {
    text-transform: uppercase;
    width: 100%;
    padding: .5rem;
    font-size: 1.7rem;
    letter-spacing: 1px;
    -webkit-background-clip: text;
    background-clip: text;
    font-family:qatar;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}

.welcome_login p{
    font-size: 1.5rem;
    font-style: oblique;
}

.userName_label{
    position: relative;
    font-size: 2rem;
    transition: 1.5s;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    font-family:gilron;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);

}

.username{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    margin-left: 2.5rem;
}

#userName_id{
    width: 65%;
    height: 4rem;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 40px;
    cursor: pointer;
    border: 1px solid rgb(201, 172, 255);
    transition: 1.5s;
    letter-spacing: 1px;
    background: rgba(190, 141, 255, 0.151);
    backdrop-filter: blur(2rem);
    font-style: oblique;
    font-weight: bold;
}

.content_user_login input:hover{
    filter: drop-shadow( 0 0 10px rgba(225, 159, 255, 0.466)) ;
    transition: all .5s ease-in-out;
}

.buttonAcept_login{
    width: 90%;
    height: 5rem;
    background-color: rgba(143, 82, 255, 0.699);
    backdrop-filter: blur(1rem);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    cursor: pointer;
}

.buttonAcept_login:active{
    width: 89.9%;
    height: 4.9rem;
    filter: drop-shadow(0 0 2px white);
}

.buttonAcept_login p{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}


/* banderas login */

.flag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_flag{
    cursor: pointer;
    z-index: 9999;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 12rem;
    height: 6.5rem;
    position: relative;
}

.triangle_flag{
    width: 2rem;
    height: 1.5rem;
    clip-path: polygon(50% 0% , 0% 100%, 100% 100%);
    color: white;
    background-color:rgba(198, 174, 255, 0.534);
    transform: rotate(180deg) translate(-0% , -50%);
    position: absolute;
    right: 28%;
    top: 35%;
}

.circle_flag{
    width: 5rem;
    height: 6.5rem;
    transform:skew(-18deg);
    border-radius: 10px;
    cursor: pointer;
    z-index: 9999;
    position: relative;
    overflow: hidden;
    background-color: rgba(98, 10, 240, 0.219);
    border: 2px solid rgba(15, 1, 43, 0.192);
}

.img_bandera{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container_select_flag{
    position: absolute;
    background-color: rgba(5, 0, 8, 0.952);
    backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
    height: 35rem;
    top: 61%;
    right: 7rem;
    padding: 4rem 2rem; 
    overflow: hidden;
    overflow-y: scroll;
    z-index: 9999;
    border-radius: 12%;
    text-align: center;    
    border-left: 45px solid transparent; 
    border-right: 45px solid transparent; 
    border-bottom: 20px solid rgba(198, 174, 255, 0.534); 
    border-top: 20px solid rgba(198, 174, 255, 0.534);
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}

.container_select_flag_active{
    opacity: 1;
    visibility: visible;
    transition: all .15s ease-in-out;
}


.radio{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2rem;
    width: 18rem;
}

.radio p{
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    margin: .5rem 0;
}

.radio input{
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}



@media screen and (max-width:1440px) {
    .containerLogin {
        width: 65rem;
        height: 35rem;
        gap: 4.5rem;
    }
    .container_select_flag {
        width: 30rem;
        height: 35rem;
        top: 68%;
        right: 6rem;
    }

}



@media screen and (max-width:1150px) {

    .container_select_flag {
        width: 30rem;
        height: 35rem;
        top: 68%;
        right: 6rem;
    }

}



@media screen and (max-width:700px) {

    .containerLogin{
        width: 90%;
        top: 53%;
        left: 50%;
        height: 30rem;
        gap: 3.5rem;
    }

    .container_select_flag {
        width: 30rem;
        height: 35rem;
        top: 62%;
        right: 2rem;
    }
    .exit_login_x img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .welcome_login {
        font-size: 1.2rem;
        padding: 0;
    }

    .content_user_login{
        width: 100%;
        gap: 1rem;
    }

    .userName_label{
        font-size: 2rem;
        text-align: center;
    }
    #userName_id {
        width: 45%;
        height: 4rem;
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
}


@media screen and (max-width:490px) {
    .containerLogin{
        width: 95%;
        top: 53%;
        left: 50%;
        height: 30rem;
        gap: 3.5rem;
    }

    .container_select_flag {
        width: 30rem;
        height: 35rem;
        top: 62%;
        right: 2rem;
    }
    .exit_login_x img {
        width: 2.5rem;
        top:1rem;
        right: 1.2rem;
        height: 2.5rem;
    }

    .welcome_login {
        font-size: 1rem;
        padding: 0;
    }

    .content_user_login{
        width: 100%;
        gap: 0rem;
    }

    .userName_label{
        font-size: 1.6rem;
        letter-spacing: .2px;
        text-align: center;
    }
    #userName_id {
        width: 14rem;
        height: 3rem;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }

    .circle_flag {
        width: 4.5rem;
        height: 6rem;
        left: 2rem;
    }

    .triangle_flag {
        right: 20%;
        top: 35%;
    }
}



@media screen and (max-width:350px) {
    #userName_id {
        width: 10rem;
        height: 3rem;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }
    .container_select_flag {
        right: .3rem;
    }
    
    .welcome_login {
        font-size: .8rem;
        padding: 0;
    }
    .circle_flag {
        width: 3.5rem;
        height: 6rem;
        left: 2rem;
    }

    .triangle_flag {
        right: 30%;
        top: 35%;
    }

    .username {
        gap: .5rem;
        margin-left: 4rem;
    }
}