.blurLogin{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    backdrop-filter: blur(1rem);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 9999;
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.exit_login_x img{
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 0rem;
    right: -8rem;
    cursor: pointer;
    opacity: .6;
    transition: all .3s ease-in-out;
}

.exit_login_x img:hover{
    filter: drop-shadow( 0 0 10px rgba(186, 143, 255, 0.514));
    opacity: 1;
    transition: all .3s ease-in-out;
}


.blurLogin_exit{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.containerLogin{
    width: 78rem;
    height: 46vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(5, 0, 8, 0.952);
    border-radius: 15px;
    border: 1px solid rgb(206, 185, 255);
    backdrop-filter: blur(1rem);
    z-index: 9999 !important;
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 2rem rgba(192, 143, 255, 0.767);
    padding: 2rem;
    padding-top: 3rem;
    gap: 3rem;
    border-radius: 15%;
    text-align: center;    
    border-left: 115px solid transparent; 
    border-right: 115px solid transparent; 
    border-bottom: 38px solid rgba(192, 143, 255, 0.623);
    border-top: 38px solid rgba(192, 143, 255, 0.623);
}


/* .login_active{

    transition: all .2s ease-in-out;
} */

.content_user_login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}

.welcome_login {
    text-transform: uppercase;
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    -webkit-background-clip: text;
    background-clip: text;
    font-family:gilron;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}

.userName_label{
    position: relative;
    font-size: 2.6rem;
    transition: 1.5s;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    font-family:gilron;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);

}

.username{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
}

#userName_id{
    width: 65%;
    height: 4rem;
    border: none;
    outline: none;
    color: white;
    font-size: 1.9rem;
    padding: 15px;
    border-radius: 40px;
    cursor: pointer;
    border: 1px solid rgb(201, 172, 255);
    transition: 1.5s;
    letter-spacing: 1px;
    background: rgba(190, 141, 255, 0.151);
    backdrop-filter: blur(2rem);
    font-style: oblique;
    font-weight: bold;
}

.content_user_login input:hover{
    filter: drop-shadow( 0 0 10px rgba(225, 159, 255, 0.466)) ;
    transition: all .5s ease-in-out;
}

.buttonAcept_login{
    width: 90%;
    height: 5rem;
    background-color: rgba(161, 110, 255, 0.788);
    backdrop-filter: blur(1rem);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    cursor: pointer;
}

.buttonAcept_login:active{
    width: 89.9%;
    height: 4.9rem;
    filter: drop-shadow(0 0 2px white);
}

.buttonAcept_login p{
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}


/* banderas login */

.flag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_flag{
    cursor: pointer;
    z-index: 9999;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 12rem;
    height: 6.5rem;
    position: relative;
}

.triangle_flag{
    width: 2.5rem;
    height: 2rem;
    clip-path: polygon(50% 0% , 0% 100%, 100% 100%);
    color: white;
    background-color:rgba(198, 174, 255, 0.534);
    transform: rotate(180deg) translate(-0% , -50%);
    position: absolute;
    right: 15%;
    top: 25%;
}

.circle_flag{
    border: 1px solid rgb(201, 172, 255);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    position: relative;
    overflow: hidden;
    background-color: rgba(98, 10, 240, 0.219);
}

.img_bandera{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container_select_flag{
    position: absolute;
    background-color: rgba(5, 0, 8, 0.952);
    backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
    height: 35rem;
    top: 60%;
    right: 2rem;
    padding: 4rem 2rem; 
    overflow: hidden;
    overflow-y: scroll;
    z-index: 999;
    border-radius: 12%;
    text-align: center;    
    border-left: 45px solid transparent; 
    border-right: 45px solid transparent; 
    border-bottom: 20px solid rgba(198, 174, 255, 0.534); 
    border-top: 20px solid rgba(198, 174, 255, 0.534);
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}

.container_select_flag_active{
    opacity: 1;
    visibility: visible;
    transition: all .15s ease-in-out;
}

.radio{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2rem;
    width: 18rem;
}

.radio p{
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    margin: .5rem 0;
}

.radio input{
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}


@media screen and (max-width:1440px) {
    .container_select_flag {
        width: 30rem;
        height: 24.5rem;
        top: 70%;
        right: 2rem;
        padding: 4rem 2rem;
    }

    .container_select_flag p{
        font-size: 1.5rem;
    }
    .containerLogin{
        width: 58%;
        height: 39rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        gap: 3rem;
    }

}


@media screen and (max-width:1244px) {
    .container_select_flag {
        width: 30rem;
        height: 24.5rem;
        top: 70%;
        right: 2rem;
        padding: 4rem 2rem;
    }

    .container_select_flag p{
        font-size: 1.5rem;
    }
    .containerLogin{
        width: 75%;
        height: 39rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        gap: 3rem;
    }

}


@media screen and (max-width:1020px) {
    .container_select_flag {
        width: 30rem;
        height: 24.5rem;
        top: 70%;
        right: 2rem;
        padding: 4rem 2rem;
    }

    .container_select_flag p{
        font-size: 1.5rem;
    }
    .containerLogin{
        width: 90%;
    }

}

@media screen and (max-width:800px) {

    .containerLogin{
        width: 90%;
        height: 46rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        gap: 3rem;
    }

    .container_select_flag {
        width: 30rem;
        height: 35rem;
        top: 65%;
        right: 2rem;
        padding: 4rem 2rem;
    }


    .welcome_login {
        text-transform: uppercase;
        width: 100%;
        padding: 1rem 0;
        font-size: 1.3rem;
    }
    

    .content_user_login{
        width: 100%;
        gap: .5rem;
    }

    .userName_label{
        font-size: 2.5rem;
        text-align: center;
    }

    .username{
        gap: 2rem;
        padding: 1rem;
        flex-direction: column;
    }

    #userName_id{
        width: 100%;
        height: 3.8rem;
        font-size: 1.9rem;
        padding: 15px;
    }

    .buttonAcept_login{
        width: 80%;
        height: 5rem;
        bottom: 3rem;
    }

    .buttonAcept_login:active{
        width: 89.9%;
        height: 4.9rem;
    }

    .buttonAcept_login p{
        font-size: 2rem;
    }

    .box_flag{
        gap: 1rem;
        width: 12rem;
        height: 6.5rem;
    }

    .triangle_flag{
        width: 2.5rem;
        height: 2rem;
        right: 30%;
        top: 62%;
    }

    .circle_flag{
        width: 4.8rem;
        height: 4.8rem;
        top: 38%;
    }


}



@media screen and (max-width:580px) {

    .containerLogin{
        width: 95%;
        height: 46rem;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        gap: 3.5rem;
        border-left: 80px solid transparent; 
        border-right: 80px solid transparent; 
        border-bottom: 38px solid rgba(192, 143, 255, 0.623);
        border-top: 38px solid rgba(192, 143, 255, 0.623);
    }

    .container_select_flag {
        width: 30rem;
        height: 35rem;
        top: 72%;
        right: 3rem;
        padding: 4rem 2rem;
    }


    .exit_login_x img {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 0rem;
        right: -6rem;
        cursor: pointer;
        opacity: .6;
        transition: all .3s ease-in-out;
    }

    .welcome_login {
        font-size: 1.4rem;
        padding: 0;
    }

    .content_user_login{
        width: 100%;
        gap: .5rem;
    }

    .userName_label{
        font-size: 2rem;
        text-align: center;
    }

}


@media screen and (max-width:490px) {

    .containerLogin{
        width: 90%;
        padding: 2rem;
        padding-top: 0rem;
    }


    .container_select_flag{
        width: 30rem;
        height: 35rem;
        top: 50%;
        left: 0rem;
        right: 0;
    }

    .content_user_login{
        width: 100%;
        gap: .5rem;
    }
    .welcome_login {
        font-size: 1.3rem;
        padding: 0;
    }
    .userName_label{
        font-size: 2.2rem;
        text-align: center;
        margin-left: -5rem;
        margin-bottom: .5rem;
    }

    .username{
        gap: 2rem;
        padding: 1rem;
        flex-direction: column;
    }

    #userName_id{
        width: 25rem;
        height: 3.8rem;
        font-size: 1.9rem;
        padding: 15px;
    }

    .buttonAcept_login{
        width: 80%;
        height: 5rem;
        bottom: 3rem;
    }

    .buttonAcept_login:active{
        width: 79.9%;
        height: 4.9rem;
    }

    .buttonAcept_login p{
        font-size: 2rem;
    }

    .box_flag{
        gap: 1rem;
        width: 12rem;
        height: 6.5rem;
        position: absolute;
    }

    .triangle_flag{
        width: 2.5rem;
        height: 2rem;
        top: -1.5rem;
        left: 4rem;

    }

    .circle_flag{
        width: 4.5rem;
        height: 4.5rem;
        top: -3rem;
        left: -2rem;
    }

}


@media screen and (max-width:420px) {
    .containerLogin{
        width: 90%;
        height: 50rem;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        gap: 4rem;
        border-left: 70px solid transparent; 
        border-right: 70px solid transparent; 
        border-bottom: 38px solid rgba(192, 143, 255, 0.623);
        border-top: 38px solid rgba(192, 143, 255, 0.623);
    }

    .container_select_flag {
        gap: 2rem;
        width: 30rem;
        height: 35rem;
        top: 50%;
        left: -2rem;
        padding: 4rem 2rem;
    }
    .welcome_login {
        font-size: 1.2rem;
        padding: 0;
        font-weight: bold;
    }
    .userName_label {
        font-size: 1.8rem;
        margin-left: -8rem;
    }

    
    .triangle_flag{
        width: 2.5rem;
        height: 2rem;
        top: -1.5rem;
        left: 2rem;
    }

    .circle_flag{
        left: -4rem;
    }

    .exit_login_x img {
        width: 3.5rem;
        height: 3.5rem;
        right: -5.5rem;
    }

}

@media screen and (max-width:360px) {

    .containerLogin{
        width: 90%;
        height: 42rem;
        top: 52%;
        left: 50%;
        padding: 2rem;
        gap: 4rem;
        border-left: 60px solid transparent; 
        border-right: 60px solid transparent; 
    }
    .exit_login_x img {
        width: 3rem;
        height: 3rem;
        right: -5rem;
    }

    .container_select_flag {
        gap: 2rem;
        width: 30rem;
        height: 35rem;
        top: 59%;
        left: -6rem;
        padding: 4rem 2rem;
    }

    .welcome_login {
        font-size: 1rem;
        padding: 0;
        font-weight: bold;
    }

    .userName_label {
        font-size: 2rem;
        margin-left: -8rem;
    }
    #userName_id {
        width: 20rem;
        height: 3.8rem;
        font-size: 1.9rem;
        padding: 15px;
    }
    
    .triangle_flag{
        width: 2.5rem;
        height: 2rem;
        top: -1.5rem;
        left: 4rem;
    }

    .circle_flag{
        left: -2rem;
    }

}