.nav{
    width: 100%;
    height: 9rem;
    position: fixed;
    top: 0%;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 6rem;
    flex-wrap: nowrap;
    z-index: 99999;
    background-color: rgba(141, 109, 255, 0.192);
    backdrop-filter: blur(.8rem);
    box-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.288);
    border-radius: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.header{
    width: 100%;
    height: 9rem;
    position: relative;
    top: 0%;
}

.listNav{
    position: relative;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
}

.nav_list_desconected{
    margin-right: 55rem;
    font-size: 2rem;
}

.listNav .link_nav_text, .link_nav_text_desconected{
    display: inline-block;
    letter-spacing: 1px;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: relative;
}

.logoNav{
    width: 7.5rem;
    height: 7.5rem;
}

.listNav_login{
    position: relative;
    width: 53%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
}

.buttonLogin , .buttonLogin_desconnect{
    display: inline-block;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 1.7rem;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.116);
    padding: 1rem;
    border-radius: 10px;
    width: 14rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.226);
    background-color: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(1rem);
}

.buttonLogin:active, .buttonLogin_desconnect:active{
    width: 13.9rem;
    height: 4.4rem;
    box-shadow: 0 0 1rem rgba(100, 4, 255, 0.226);
}


.nav_Toggle{
    display: none;
}

.subList_ladders{
    position: absolute;
    padding: 3rem 2rem;
    border-radius: 5px;
    border: 1px solid #75519C;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 2.5rem;
    width: 18rem;
    top: 3rem;
    background-color: rgba(9, 0, 20, 0.918);
    backdrop-filter: blur(1rem);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.ladders_nav{
    color: white;
}

.ladders_nav:hover > .subList_ladders{
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
}


.subList_ladders li{
    font-size: 1.5rem;
}


/* effect navbar */

.link_nav_text_desconected::after{
    content: '';
    bottom: -3.3rem;
    left: 0;
    right: 0;
    margin-right: 55rem;
    position: absolute;
    height: 2px;
    width: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: linear-gradient(#ead8ffda, #ab61ff);;
    -webkit-box-shadow: 0px 0px 3px rgb(0 0 0 / 60%), 0px 0px 32px #d2b6ffe0, 0px 0px 11px #caa9ffe7;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 60%), 0px 0px 32px #be95ff, 0px 0px 11px #924eff;
    -webkit-transition: all 0.3s ease-in;
    z-index: 9999999999 !important ;
    border-radius: 15px;
    transition: all 0.3s ease ;
}

.link_nav_text_desconected:hover:after {
    width: 10%;
    height: 2px;
    filter: drop-shadow(0px -10px 8px rgba(195, 161, 250, 0.267));
}

.listNav .link_nav_text:after {
  content: '';
  bottom: -3.55rem;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 2px;
  width: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background: linear-gradient(#ead8ffda, #ab61ff);;
  -webkit-box-shadow: 0px 0px 3px rgb(0 0 0 / 60%), 0px 0px 32px #d2b6ffe0, 0px 0px 11px #caa9ffe7;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 60%), 0px 0px 32px #be95ff, 0px 0px 11px #924eff;
  -webkit-transition: all 0.3s ease-in;
  z-index: 9999999999 !important ;
  border-radius: 15px;
  transition: all 0.3s ease ;
}

.listNav .link_nav_text:hover:after {
    width: 100%;
    height: 2px;
    filter: drop-shadow(0px -10px 8px rgba(195, 161, 250, 0.267));
}

.listNav .logoList :after {
    pointer-events: none;
}

.nav_list_links{
    text-shadow: 0 0 .1rem rgb(0, 0, 0);
}


@media screen and (max-width:1440px) {

    .nav{
        padding: 0 1rem;
    }

    .listNav{
        width: 80%;
    }
    .listNav_login{
        width: 26%;
    }
    
    .listNav li{
        font-size: 1.45rem;
    }
}

@media screen and (max-width:1024px) {

    .nav{
        padding: 0 1rem;
        justify-content: flex-end;
    }

    .nav_list_desconected{
        margin-right: 0rem;
        font-size: 2rem;
        position: absolute;
        top: -15rem;
    }

    .listNav{
       visibility: hidden;
       width: 100%;
       height: 100vh;
       background-color: rgba(6, 0, 15, 0.986);
       backdrop-filter: blur(1rem);
       flex-direction: column;
       position: fixed;
       top: 0rem;
       left: 0rem;
       gap: 6rem;
       opacity: 0;
       transition: all .2s ease-in-out;
       background-image: url("../config/src/backMatch3.jpg");
       background-position: 100% 100%;
       background-size: cover;
       background-attachment: fixed;
    }

    .listNav::after{
        width: 110%;
        height: 100%;
        content: " ";
        top: 0rem;
        background-color: rgba(0, 0, 0, 0.400);
        position: absolute;
        z-index: -1;
    }

    .listNav_active{
        display: flex;
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        width: 100%;
        transition: all .2s ease-in-out;
     }
 
    .listNav li{
        display: inline-block;
        color: white;
        letter-spacing: 1px;
        font-size: 2rem;
        text-transform: uppercase;
        position: relative;
    }

    .listNav_login{
        position: absolute;
        width: 18rem;
        width: 30%;
    }

    .logoNav{
        display: none;
    }
    
    .nav_Toggle{
        display: inline-block;
        color: white;
        background: none;
        border: none;
        font-size: 4rem;
        cursor: pointer;
        z-index: 5500;
        position: absolute;
        left: 10%;
    }
}

@media screen and (max-width:500px) {
    
    .buttonLogin , .buttonLogin_desconnect{
        font-size: 1.7rem;
        width: 14rem;
        height: 4.5rem;
        right: 2rem;
    }

}