/* slider */
.slider{
    width: 75vw;
    position: relative;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    z-index: 1000;
    padding: .7rem;
    background: rgba(167, 112, 255, 0.288);
    border: 1px solid #b26aff75;
    background: radial-gradient(circle, rgba(108, 50, 243, 0.315) 0%, rgba(20, 11, 44, 0.692) 60%);
    box-shadow: rgba(166, 128, 255, 0.226) 3px 3px 6px 0px inset, rgba(170, 139, 255, 0.226) -3px -3px 6px 1px inset;
}


  
.slider img{
  width: 100%;
  height: 39vh;
  object-fit: cover;
  border-radius: 15px;
  filter: contrast(102%) brightness(105%) ;
  z-index: 900;
}

.splide__arrow--next {
  right: 3.5rem !important;
}

.splide__arrow--prev {
  left: 3.5rem !important;
}

.splide__arrow--prev, .splide__arrow--next , .splide__pagination__page{
  filter: hue-rotate(80deg) drop-shadow( 0 0 2px rgba(139, 89, 255, 0.658));
}

.splide {
  padding: 0rem !important;
}

@media screen and (max-width: 1460px) {
  /* slider */
  .slider{
    width: 90%;
  }

  .slider img{
    width: 100%;
    height: 27rem;
  }
  
}

@media screen and (max-width: 1170px) {
  /* slider */
  .slider{
    width: 95%;
  }

  .slider img{
    width: 100%;
    height: 35rem;
  }
  
}

@media screen and (max-width: 1024px) {
  /* slider */
  .slider{
      width: 95%;
  }

  .slider img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
}


@media screen and (max-width: 480px) {
  /* slider */
  .slider{
    width: 95%;
    padding: .2rem;
  }

  .slider img{
    width: 100%;
    object-fit: contain;
  }
  
}

